body,article.biografia
{
	display: block;
	padding: 3px;
	margin: 5px;
	font-family: calibri;
    font-size: 100%;
}
body
{
	background-image: url(../imagenes/fondo.jpg); 

}
h1
{
	float: center;
	color: white;
	font-family: algerian;
}
section
{
	float: center;
	width: 800px;
	height: 120px; 
}
.display .parcial
{
	width: 160px;
}
.Cero
{
	width: 70px;
}